.about-us-container {
    font-family: 'Arial', sans-serif;
    color: #333;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
    background-color: #FFE4C9 !important;
  }
  
  .header{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #4CAF50;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  section {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  h2 {
    font-size: 1.8em;
    margin-bottom: 10px;

  }
  
  ul, ol {
    margin-left: 20px;
  }
  
  ul li, ol li {
    margin-bottom: 10px;
  }
  
  strong {
    color: #4CAF50;
  }
  
  @media (max-width: 768px) {
    .header h1 {
      font-size: 2em;
    }
  
    h2 {
      font-size: 1.5em;
    }
  }
  