.auto{
    width: 100vw;
    height: 100vh;
    background-image: url('../images/Purple\ Artsy\ Gift\ Ideas\ smore\ Header.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}